<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Alert</title>

        <style>
            body, html {
                margin: 0;
                padding: 0;
                height: 100%;
            }

            .center-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                background-color: #f0f0f0;
            }

            .center-text {
                color: #636b6f;
                text-align: center;
                font-size: 84px;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
            }
        </style>
    </head>
    <body>
        <div class="center-container">
            <p class="center-text">Alert</p>
        </div>
    </body>
</html>